<h1></h1>
<% @cards.each do |card|  %>
  <table>
    <thead>Card ID: <%= card['id'] %> </thead>
  <tbody>Card Question: <%= card['question'] %> </tbody>
  <tbody>Card Answer: <%= card['id'] %> </tbody>
  </table>
  <br />
<% end %>